@model InventoryManagement.App.Models.Product
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "UpdateProductDetails";
    string json = Context.Session.GetString("ListData");
    List<Category> myList = JsonConvert.DeserializeObject<List<Category>>(json);
}


<h4> Update Product Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateProductDetails">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" class="form-control">
                <option value="">Please select</option>
                    @foreach (var item in myList)
                {
                    <option value="@item.Id" selected="@((int)item.Id == (int)Model.Id)">@item.Name</option>
                }
            </select>
               
            </div>

            <div class="form-group form-check" hidden>
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAllProducts">Back to List</a>
</div>

